body {
    background-color: #eeb4b4;
}

#calcBox {
  background-color: #fa8072;
  margin-top: 5em;
  width: 30em;
  height: 40em;
}

#logo h1 {
    text-align:center;
    font-size: 2em;
    margin-top: 0em;
}

#screen {
  width: 27em;
  height: 7em;
}

#screenText {
  font-size: 4em;
  text-align: right;
}

#buttons {
  text-align: center;
}

.btn {
  color:black;
  background-color: #c1ebdd;
  width: 6em;
  height: 4em;
  border-color:black;
  margin-top:1em;
}

#buttonClear {
  width: 12em;
}

#button0 {
  width:12em;
}

#buttonEquals {
  width:12em;
}
